<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MDS Plot</title>
    <!-- Include D3.js library -->
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <!-- Include jQuery library -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Include your JavaScript file -->
    <script src="static/js/script.js"></script>
    <!-- Include your CSS file -->
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
</head>
<body>
    <select id="select">
        <option value="mds">Euclidian</option>
        <option value="correlation">Correlation</option>
    </select>
    <!-- This div will contain the MDS plot -->
    <div id="scatter_mds"></div>

    <!-- Call the JavaScript function to generate the MDS plot -->
    <script>
        // AJAX request to fetch MDS data and generate the plot
        function getData(value) {
            $.ajax({
                type: 'GET',
                url : `/get_${value}`,
                data: {},
                contentType: 'application/json; charset=utf-8',
                xhrFields: {
                    withCredentials: false
                },
                headers: {},
                success: function(result) {
                    // Parse the JSON result
                    result = JSON.parse(result);
                    // Call the function to draw the MDS plot with the fetched data
                    drawScatter_mds(result);
                },
                error: function(xhr, status, error) {
                    // Handle error if any
                    console.error(error);
                }
            });
        }
        document.getElementById('select').onchange = (e) => {
            getData(document.getElementById('select').value)
        }

        getData('mds')
    </script>
</body>
</html>
